/* Container to align text and image inline */
.infoContainer {
  display: flex;
  align-items: center;
  flex-wrap: inherit;
  justify-content: space-between;
}

/* Style for the image */
.roofPic {
  width: 40%; /* Set the image to 40% of its original size */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Ensure the image scales correctly */
  padding-right: 5px;
}

/* Style for the text */
.aboutText {
  flex: 1; /* Allow the text to take up remaining space */
}
