.infoContainer {
  display: flex;
  align-items: center;
  flex-wrap: inherit;
  justify-content: space-around;
}

/* Style for the image */
.roofPic {
  width: 20%;
  height: auto;
  object-fit: contain;
  padding-right: 5px;
  border-radius: 25px;
  padding: 10px;
}

p {
  padding: 10px;
}
