.footerWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around; /* Optional: Push items apart if needed */
  margin-inline: 15px;
  bottom: 0;
}

.logo {
  width: 10%;
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Ensure the image scales correctly */
}
